# GitHub Actions runner local artifacts (keep runner out of repo!)
_work/
_diag/
externals/
bin/
.run*
.credentials*
actions-runner-*
config.cmd
run.cmd
run-helper.cmd*
# Runner toolcache
_work/_tool/
# Embedded checkout from runner
_work/certeus/certeus/
